<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inspect profile</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link th:href="@{/css/style.css}" href="/static/css/style.css" rel="stylesheet" type="text/css"/>

    <style>
        .box{
            display: table;
            margin: 0 auto;
            border: 1px solid black

        }



    </style>

</head>

<body style="background-color: #64a4fc">

<div th:insert="~{/fragments/header :: header}"></div>

<div class="container">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">My profile</h1>
        </div>
    </section>

    <div class="box" style="background-color: white">
        <div class="row">

            <div class="col-md-5" th:object="${user}" method="POST">
                <td class="w-25">
                    <img src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-business-people-avatar-icon-user-profile-free-vector-png-image_4815126.jpg"
                         class="img-fluid img-thumbnail" alt="parking">
                </td>
                <p th:text="'User Name: ' + ${user.userName}"/>
                <p th:text="${user.getRatting()>0 ? 'Rating: '+user.getRatting()+'/5' : 'No rating yet'}"  />
                <p th:text="'Reservations made so far: '+${size}"/>
                <!-- <p th:text="'Total spent '+${sum}+' $'"/> -->
                <p th:text="'Active Parking spaces owned on CarParking: '+${activeParkings}"/>
                <p th:text="'Total money received: '+${guestIncome}+' $'"/>
                <p th:text="'Bookings placed so far on my Parking space: '+${reservations}"/>



            </div>


        </div>


        <hr>

    </div>
</div>
<div th:insert="~{/fragments/footer :: footer}"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>