html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    bottom: 0;
}
.bg {

    background-image: url("https://p2.piqsels.com/preview/870/626/358/parking-deck-parking-car-park-deck.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  }
.mc{
    background-image: url("https://i.pinimg.com/736x/f0/50/af/f050aff265741c06ec7cf7ced350950d.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.mb{
    background-image: url(https://ak8.picdn.net/shutterstock/videos/6693518/thumb/1.jpg);

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bi {

    background-image: url(http://www.bhg.com.au/media/17305/100418-carpark.jpg);

    height: 250%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  }


/-----Footer------/
.page-container {
    position: relative;
    min-height: 50vh;
}


#myFooter {
    clear: both;
    position: relative;
/margin-top: 5vh;/
background-color: #343a40;
    color: white;
/position: absolute;/
/bottom: 0;/
/width: 100%;/
height: 200px;
    margin-top: 100px;


}

#myFooter ul {


    padding-right: 450px;
    list-style-type: none;
    padding-left: 10px;
    line-height: 1.7;

}

#myFooter h5 {

    padding-right: 400px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .myCols {
    text-align: center;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}

#myFooter .social-networks a {
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;

}

#myFooter .github:hover {
    color: #0077e2;
}

#myFooter .LinkedIn:hover {
    color: #0077e2;
}

.custom1 {
    height: 80% !important;
    margin-top: 50px !important;
}

.custom2 {
    margin-top: 10% !important;
}

.login-custom {
    height: 80% !important;
}

.register-custom {
    height: 110% !important;

}

.custom-container {
    min-height: 80% !important;
    height: auto;
}

.custom-stays {
    height: 80% !important;
    margin-top: 80px !important;
}

.img-thumbnail {
    max-width: 75% !important;
}

.img-thumbnail1 {
    max-width: 90% !important;
}

.container-table {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 80% !important;

}

.container-table-custom{

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 5%;
    min-height: 80% !important;




}

.container-bookings {
    min-height: 80% !important;
    margin-top: 80px !important;
}

.container-duplicated {
    min-height: 80% !important;
    margin-top: 80px !important;
}

.container-past {
    min-height: 80% !important;
    margin-top: 80px !important;
}

.container-addForm {
    min-height: 80% !important;
    margin-top: 80px !important;
}

.container-admin {
    min-height: 50% !important;
    margin-top: 80px !important;
}

.container-userlist {
    min-height: 80% !important;
    margin-top: 80px !important;
}

.container-myApartments {
    min-height: 80% !important;
    margin-top: 80px !important;
}


.search-containerLU {
    min-height: 80% !important;
    margin-top: 80px !important;
}


.container-pending {
    min-height: 80% !important;
    margin-top: 80px !important;
}

.container-statistics {
    min-height: 70% !important;
    margin-top: 80px !important;
}

.container-checkApartment {
    min-height: 60% !important;
    margin-top: 80px !important;
}

.container-empty {
    min-height: 70% !important;
    margin-top: 80px !important;
}

.container-bookingCalendar {
    min-height: 70% !important;
    margin-top: 80px !important;
}

.container-bookingCalendar-form {
    min-height: 70% !important;
    margin-top: 80px !important;
    margin-left: 40%;
}



.container-viewUser {
    min-height: 70% !important;
    margin-top: 80px !important;
    margin-left: 30%;
}

.row-checkApartment {
    margin-left: 25%;
}

.photodiv {
    background: url("https://florinroebig.com/wp-content/uploads/2021/04/cutting-through-parking-lots.jpg") no-repeat center;
    background-size: cover;
    width: 50%;
    height: 400px;
    margin-top: 10%;
    float: right;

}

.textdiv {
    width: 50%;
    float: left;
}

.photodiv1 {
    background: url("https://uknow.uky.edu/sites/default/files/styles/uknow_story_image/public/transcript-lot-1%20%282%29.jpg") no-repeat center;
    backgound-size: cover;
    width: 50%;
    height: 410px;
    margin-top: 16%;
    float: left;

}

.textdiv1 {
    width: 50%;
    float: right;

}

.photodiv2 {
    background: url("https://hips.hearstapps.com/roa.h-cdn.co/assets/16/30/1469537010-parkinggarage-getty.jpg") no-repeat center;
    backgound-size: cover;
    width: 50%;
    height: 400px;
    margin-top: 17%;
    float: right;

}

.textdiv2 {
    width: 50%;
    float: left;
    margin-top: 15%;
}