<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>parking spaces</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link th:href="@{/css/style.css}" href="/static/css/style.css" rel="stylesheet" type="text/css"/>


    <!--  -->
<style>
    .search{
        margin-top: 50px;
    }
</style>

</head>

<body style="background-color: #64a4fc;">

<div th:insert="~{/fragments/header :: header}"></div>
<br>
<br>
<br>
<div class="container-table">



<!--    <form class="search" action="#" th:action="@{/searchParkings}" th:object="${search}" method="get">-->
<!--        <div align="center">-->
<!--        <div class="search-container">-->
<!--            <label class="header-title">Find By: </label>-->
<!--            <input name="search" id="search" style="height:21px;"/>-->
<!--            <select name="criteria" id="criteria" style="height:27px;">-->
<!--                <option value="none" id="none">Show all</option>-->
<!--                <option value="parkingPrice" id="parkingPrice">Price less than</option>-->
<!--                <option value="parkingCity" id="parkingCity">City containing letter(s)</option>-->
<!--                <option value="parkingCountry" id="parkingCountry">Country containing letter(s)</option>-->

<!--            </select>-->
<!--            <button class="regular-action-button" style="display: initial !important;padding: 3px 12px !important;"-->
<!--                    type="submit">Search-->
<!--            </button>-->
<!--        </div>-->
<!--        </div>-->
        <div th:if="${not #lists.isEmpty(search)}">

            <table class="table table-bordered table-striped" style="background-color: white;">
                <thead class="thead-dark">
                <tr>
                    <th style="background-color: #64a4fc;">Parking Image</th>
                    <th style="background-color: #64a4fc;">Parking space Name</th>
                    <th style="background-color: #64a4fc;">Country</th>
                    <th style="background-color: #64a4fc;">City</th>
                    <th style="background-color: #64a4fc;">Address</th>
                    <th style="background-color: #64a4fc;">Price/Hour</th>
                    <th style="background-color: #64a4fc;">Rating</th>


                </tr>
                </thead>

                <tbody>
                <tr th:each="tempParkings : ${search}">

                    <td class="w-25">
                        <a th:href="@{|/viewParking/${tempParkings.id}|}">
                            <img src="http://www.thetimes.co.uk/imageserver/image/methode%2Ftimes%2Fprod%2Fweb%2Fbin%2F9862e092-6a1c-11e6-b5c6-db979e28e7a6.jpg?crop=3301%2C1857%2C0%2C172" class="img-fluid img-thumbnail1" alt="parking">
                        </a>
                    </td>
                    <td th:text="${tempParkings.parkingName}"/>
                    <td th:text="${tempParkings.countrey}"/>
                    <td th:text="${tempParkings.city}"/>
                    <td th:text="${tempParkings.adress}"/>
                    <td th:text="${tempParkings.ppn}+' $'"/>
                    <td th:text="${tempParkings.getRatting()>0 ? tempParkings.getRatting()+'/5' : 'No ratting yet'}"  />


                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>

<div th:insert="~{/fragments/footer :: footer}"></div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>
</html>